# Default authz rules.
---
version: '1'

security:
  roles:
    # With great power, comes great responsibility.
    admin:
      permissions:
        - help
        - forward_message
      tags:
        - all

  users:
    # Permits everyone to do everything.
    "*":
      roles:
        - admin
